.judge{
    position: relative;
    /* overflow: scroll; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow: auto;
    align-items: center;
    background-color: #F7F7F7;
}



.judge-current-round{
    /* border: 2px solid black; */
    width: 50%;
    text-align: center;
    background-color: #ffffff;
    font-size: 2rem;
    padding: 10px;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
    margin: 30px 0px 0px 0px;
    color: #62586B;
    border-radius: 20px;
}

.content-judge{
    /* border: 2px solid brown; */
    width: 100%;
    text-align: center;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #62586B; */
    /* background-color: #ffffff; */
    margin-top: 20px;
}


/* Judge.css */

.modal-judge {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 228, 228);
    padding: 20px;
    /* border: 5px solid #1958a5; */
    z-index: 9999; /* Use a higher z-index value */
  }
  
  .modal-overlay {
    position: fixed;
    z-index: 9998; /* Ensure the overlay is just below the modal */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .hide-close-button {
    display: none;
  }
 


  
  .con-i{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rebeccapurple; */
  }

  .input-j{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.input-j label{
    font-family: 'Lato';
    font-size: 1.0rem;
    font-weight: 600;
    color: #62586B;
}
.input-j input{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #fcfcfc;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 600;

}

.sub-score-btn{
    background-color: #0830A6;
    color: #F4F3F3;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.act-input-con{
    margin-top: 30px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
}
    
  


