.prelims-score-table{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    page-break-before: always;
    
    
}

.prelims-score-table th, td{
    padding: 5px 20px;
}
.cat-table{
    padding: 10px 20px;
}