/* .teams-page-container{
    display: grid;
    
} */

.list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.TeamsNew{
    width: 100%;
}

.list-final{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pair-mat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .pair-row {
    width: calc(50% - 10px); /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
  }