/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
   
} */



/* .admin-login-container{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .admin-login-div{
    width: 50vw;
    max-width: 500px;
    height: 60vh;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    
    border: 2px solid red;
} */
/* 
.login-head-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a5a90;
    border: 2px solid green;
} */


/* .login-text{
    margin: 55% 0 0 0;
    padding: 0;
    font-size: 40px;
    margin: 0;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
/* .underline{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 0;

} */

/* .login-body{
    width: 50%;
    padding: 40px 0;

} */

/* .admin-page-container-style{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'poppins';
    background: radial-gradient(circle, #832de2, #4a00e0);
} */

/* .login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'poppins';
    background: radial-gradient(circle, #832de2, #4a00e0);

} */



/* .login-input{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background: transparent;
    
} */
/* .input-underline{
    width: 100%;
    height: 2px;
    background-color: #0a5a90;
    
} */

/* .login-button-style{
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

 /* .login-button{
    border: none;
    background-color: #0a5a90;
    padding: 10px;
    border-radius: 10%;
    color: aliceblue;
} */

/* input{
    outline: none;
    border: none;
    color: #0a5a90;
} */




.admin-input{
    display: flex;
    justify-content: center;
    
} 



.admin-page-container-style{
    min-height: 100vh;
    background-color: #E3E2E2;
    padding-bottom: 50px;
    /* background: radial-gradient(circle, #0a5a90 0%,rgb(75, 180, 183) 0%, rgb(15, 104, 104) 80%); */
}

.logout-admin{
    width: 100%;
    /* border: 2px solid white; */
    text-align: right;
    padding-right: 20px;
}
.logout-admin button{
    background-color: #e0491f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}
.admin-input div{
    display: flex;
    margin: 10px 20px;
}


.round-input select{
    /* width: 100px;
    height: 50px; */
    background-color: #F7F7F7;
    border-radius: 30px;
    /* border: 2px solid #0a5a90; */
    border: none;

    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.round-input select::after{
    border: none;
}
.round-input option{
    background-color: #F7F7F7;
    border-radius: 30px;
    /* border: 2px solid #0a5a90; */
    border: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

}

.dont-show{
    display:none
}

.judge-input{
    text-align: center;
}
.judge-input input{
    width: 10%;
    border-radius: 10px;
    text-align: center;
    border: 0.5px solid #e0e3e6;
    margin: 0px 10px;
}

.show-categories{
    /* width: 100%; */
    background-color: #ffffff;
    padding: 20px 10px;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
    margin: 0px 30px;
    border-radius: 20px;
    /* border: #0830A6 2px solid; */
}

.cat-head{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}



.categories-board{
  
    display: flex;
    justify-content: space-around;
    
}
.categories-board div p{ 
    color: #62586B;
    /* font-size:0; */
    font-family: 'Lato';
    font-weight: 400;
    word-wrap: break-word
    /* border: 2px solid #0a5a90; */
}

.inputs-admin{
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 10.5px;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
}

.admin-submit{
    background-color: #0830A6;
    border: none;
    color: #F4F3F3;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
    border-radius: 20.56px;
    padding: 5px 20px;

}

.top8-button button{
    background-color: #0830A6;
    border: none;
    color: #F4F3F3;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
    border-radius: 20.56px;
    padding: 5px 30px;
}

.admin-btns{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.admin-btns > button{
    margin: 0 20px;
    background-color: #0830A6;
    border: none;
    color: #F4F3F3;
    box-shadow: 0px 3.290045738220215px 3.290045738220215px rgba(0, 0, 0, 0.25);
    border-radius: 20.56px;
    padding: 10px 30px;
}